{% extends 'base.html' %} {% block content %}

    <h1>View All the employees in on this page. Ability to add or delete or change employees here</h1>

    <div class = "table-container">
        <table class = "table">
            <thead>
                <tr>
                    <th><abbr title = "EmpNumber">EMP #</abbr></th>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Job Title</th>
                    <th>Username</th>
                    <th>Password</th>
                </tr>
            </thead>
            {% for employee in employees %}
                <tr>
                    <td>
                        {{employee.EmpNumber}}
                    </td>
                    <td>
                        {{employee.LastName}}
                    </td>
                    <td>
                        {{employee.FirstName}}
                    </td>
                    <td>
                        {{employee.JobTitle}}
                    </td>
                    <td>
                        {{employee.Username}}
                    </td>
                    <td>
                        {{employee.Password}}
                    </td>
                </tr>
            {% endfor %}
         </table>
         
    </div>

{% endblock %}