{% extends 'base.html' %} {% block content %}

    <h1 class = "title">Welcome to Ripple Management System</h1>
        <div class ="container-intro">
            <p>
                Ripple Management Systems is a management system designed with small businesses in mind. This is system is built to be adaptable to you and your growing business. </p>
            <br>
            <p>
                Our goal is to build a simple system that can be used to manage your business. We believe that as your business grows so will your need for more management systems. This is why we have broken down these systems into categories. This way we can provide a simple system for your business needs.
            </p>
            <br>
            <p>
                For instance, this application you are currently in, is used as a database for your employees. It does not act like a payroll system(application in design process) but rather a system for you to view, edit, create and remove employees. 
            </p>
            <p>
                Future features would include a scheduling system where you as a manager can schedule your employees post it to the web and have employees view and submit request.
            </p>
        </div>
    </div>

{% endblock %}